<!DOCTYPE html>
<html lang="en">

<head>
    

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>

    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand  href=" #">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/signup/">Registrar <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

</header>






<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Comunícate con nosotros</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href=""><i class="fa fa-angle-double-right"></i>OPERADORES:</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>+56 958 01 70 68</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>+56 9 54 22 38 62</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>SUCURSALES</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>+562 22 54 32 68 - Providencia</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i>+562 25 01 48 52 - Casa Central</a></li>

                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Compra y Ahorra</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href=""><i class="fa fa-angle-double-right"></i>Los mejores productos al mejor precio</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Direccion</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href=""><i class="fa fa-angle-double-right"></i> Brisas del Rio #2762</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i> Providencia</a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
                    <li><a href=""><i class="fa fa-angle-double-right"></i></a></li>
                    <li><a href="" title="Diseñado y desarrollado por"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li class="list-inline-item"><a href="" target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="https://www.nationaltransaction.com/">Corporación de Transacciones Nacionales</a></u> es un MSP/ISO registrado de Elavon, Inc. Georgia [una subsidiaria propiedad total de U.S. Bancorp, Minneapolis, MN]</p>
                <p class="h6">© Todos los derechos reservados. <a class="text-green ml-2" href="https://www.mi-sitio.com" target="_blank">Mi-Sitio-Tech</a></p>
            </div>
            <hr>
        </div>
    </div>
</section>